:host {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  width: 100%;
  min-height: 0;
}

#app-login {
  width: 100%;
//   background-color: #69a8c961;
  background-size: cover;
  background-position: bottom;
  .login-form-wrapper {
    flex: 1 0 auto;
    padding: 64px 2rem; //32px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;

    #login-form {
      width: 480px;
      max-width: 480px;
      padding: 2rem;
      text-align: center;
      background: #97979761;
            box-shadow: 0 0.5rem;

      .logo {
        width: 190px;
        margin: 32px auto;
        img {
          width: 100%;
        }
      }

      .title {
        font-size: 1.25rem;
        margin: 16px 0 2rem;
      }

      form {
        width: 100%;
        text-align: left;

        mat-form-field {
          width: 100%;
        }

        mat-checkbox {
          margin: 0;
        }

        .remember-forgot-password {
          font-size: 0.8125rem;
          margin-top: 0.5rem; //8px;;

          .remember-me {
            margin-bottom: 1rem; //16px;
          }

          .forgot-password {
            font-size: 0.8125rem;
            font-weight: 600;
            margin-bottom: 1rem; //16px;
          }
        }

        .submit-button {
          width: 220px;
          margin: 16px auto;
          display: block;
          background: #fff;
          box-shadow: 0 0.1875rem 0.0625rem -2px rgba(0, 0, 0, 0.2),
            0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14),
            0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
        }
      }

      .register {
        margin: 32px auto 1.5rem; //24px;
        font-weight: 600;

        .text {
          margin-right: 0.5rem; //8px;;
        }
      }

      .separator {
        font-size: 0.9375rem;
        font-weight: 600;
        margin: 1.5rem auto;
        position: relative;
        overflow: hidden;
        width: 6.25rem;

        .text {
          display: inline-flex;
          position: relative;
          padding: 0 0.5rem; //8px;;
          z-index: 9999;

          &:after,
          &:before {
            content: "";
            display: block;
            width: 30px;
            position: absolute;
            top: 0.625rem;
            border-top: 0.0625rem solid;
          }

          &:before {
            right: 100%;
          }

          &:after {
            left: 100%;
          }
        }
      }

      button {
        &.facebook,
        &.google {
          width: 192px;
          text-transform: none;
          color: #ffffff;
          font-size: 0.8125rem;
        }

        &.google {
          background-color: #d73d32;
          margin-bottom: 0.5rem; //8px;;
        }

        &.facebook {
          background-color: rgb(63, 92, 154);
        }
      }
    }
  }
}
