<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="'/main/'">
    <img
      src="assets/images/galery/Angular.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Angular Best Practice
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li
        class="nav-item"
        *ngFor="let item of navItems"
        [routerLinkActive]="['active']"
      >
        <a class="nav-link" [routerLink]="item.path">{{ item.name }} </a>
      </li>
    </ul>
  </div>
  <div class="my-2 my-lg-0">
    <button class="btn btn-outline-success my-2 my-sm-0"  [routerLink]="'/login'" >Logout</button>
  </div>
</nav>
